# system
.DS_Store
Thumbs.db

# editors
/.vscode
/.idea
/.fleet

# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# caches
.eslintcache

# secrets
.env

# testing
/coverage
